body {
  background-image: url("../img/Chips.jpg");
  background-position: center;
}

h2 {
  color: white;
}

h1 {
  color: black;
}

.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.covered {
  text-indent: -9999;
  width: 125px;
  border: 0px;
  height: 169px;
  content: url("../img/CardBack.jpg");
}

.hand {
  overflow: auto;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 125px;
    height: 169px;
}

.slide {
    position: absolute;
    top: -169px;
    width: 125px;
    height: 169px;
    background: black;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0.15s;
    animation: slide 1s forwards;
    animation-delay: 0.15s;
}

@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}

