body {
  background-image: url("../img/Chips.jpg");
  background-position: center;
}

h2 {
  color: white;
}

.card {
  float: left;
  border: solid 1px black;
  border-radius: 5px;
  margin-right: 20px;
}

.covered {
  text-indent: -9999;
  width: 125px;
  border: 0px;
  height: 169px;
  content: url("../img/CardBack.jpg");
}

.hand {
  overflow: auto;
}
